body {
  padding: 50px;
font-family: 'functionpro-bold-webfont', sans-serif;
}

@font-face{ font-family: 'functionpro-bold-webfont'; src: url('functionpro-bold-webfont.eot'); src: url('functionpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('functionpro-bold-webfont.woff') format('woff'), url('functionpro-bold-webfont.ttf') format('truetype'), url('functionpro-bold-webfont.svg#functionpro-bold-webfont') format('svg'); }
@font-face{ font-family: 'functionpro-light-webfont'; src: url('functionpro-light-webfont.eot'); src: url('functionpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('functionpro-light-webfont.woff') format('woff'), url('functionpro-light-webfont.ttf') format('truetype'), url('functionpro-light-webfont.svg#functionpro-light-webfont') format('svg'); }
@font-face{ font-family: 'functionpro-medium-webfont'; src: url('functionpro-medium-webfont.eot'); src: url('functionpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('functionpro-medium-webfont.woff') format('woff'), url('functionpro-medium-webfont.ttf') format('truetype'), url('functionpro-medium-webfont.svg#functionpro-medium-webfont') format('svg'); }


p{
	font-family: 'functionpro-light-webfont', sans-serif;
}

.bg{
	background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url("/images/crying-drake.png") no-repeat center center fixed; 
	  position: fixed; 
	  top: 0; 
	  left: 0; 
	background-size: cover;
	background-position: 300px;
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
	 font-family: 'functionpro-bold-webfont', sans-serif;
	 font-weight: 700;
	 height:170vh;
	 background-color: black;

}

a {
  color: #00B7FF;
}

.float-right{
	float:right;
}






.container{
	margin-left: 40px;
	margin-right: 40px;
}


.myButton {
	background-color:#F24095;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	font-size:20px;
	padding:20px 35px;
	margin-top: 20px;

}

.wrapper {
    text-align: center;

}

.black{
	color:black;
}

.whitetext{
	color:white;
	margin-right: 375px;
}

.white{
	color:white;
}

.white-back{
	background-color: #FF3232;
}
a:hover
{
  text-decoration:none;
}

.top-main{
	margin-top: 10px;

}

.main-text{
	font-size: 75px;
}

.below_text{
	font-size: 35px;
	margin-top: -50px;
	font-family: 'functionpro-light-webfont', sans-serif;
}



@media screen and (max-width: 768px) {
    .below_text{
    	font-size: 25px;
    	text-align:center;

    }
    .myButton {
	background-color:#F24095;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	font-size:15px;
	padding:20px 35px;
	margin-top: 20px;

}

	.bg{
		background-position: -50px;
	}


}


@media screen and (max-width: 480px) {
    .below_text{
    	font-size: 20px;
    	text-align:center;

    }
    .myButton {
	background-color:#F24095;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	font-size:15px;
	padding:20px 35px;
	margin-top: 20px;

}
	.bg{
			background-position: -185px;
		}




}


@media screen and (max-width: 320px) {
    .below_text{
    	font-size: 15px;
    	text-align:center;

    }
    .myButton {
	background-color:#F24095;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	font-size:17.5px;
	padding:20px 35px;
	margin-top: 20px;

}

	.bg{
			background-position: -390px;
		}


}



		#VID
		{
			max-width: 800px;
			width:80%; 
			height: 500px; 
			border: none;
		}

		#artist
		{
			font-family: 'functionpro-bold-webfont', sans-serif; 
			font-weight: 400px;
			color: #3D3D3D; 
			font-size: 2.2em;
			text-align: left;
			padding-left: 15%; 
			margin-top: 40px; 
		}

		#title
		{
			font-family: 'functionpro-bold-webfont', sans-serif; 
			font-weight: 700px;
			color: #919191; 
			font-size: 1.5em;
			text-align: left;
			padding-left: 15%; 
			margin-top: 7px; 
		}